<!DOCTYPE html>
<html lang="{{ metadata.language }}">
<head>
    {% include "partials/head.njk" %}
</head>
<body>
    {% include "partials/site-header.njk" %}

    <main>
        {{ content | safe }}
    </main>

    {% include "partials/site-footer.njk" %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/js/all.min.js"></script>
    <script src="/assets/js/main.js"></script>
</body>
</html>
