<!DOCTYPE html>
<html lang="{{ siteConfig.meta.lang }}">
<head>
    {% include "partials/head.njk" %}
</head>
<body{% if bodyClass %} class="{{ bodyClass }}"{% endif %}>
    {% include "partials/site-header.njk" %}

    <main>
        {{ content | safe }}
    </main>

    {% include "partials/site-footer.njk" %}

    {#
    <div class="mp-float">
        {% musicPlayer "/assets/data/playlist.json" %}
    </div>
    #}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/js/all.min.js"></script>
    {# {% musicPlayerAssets %} #}
    <script src="/assets/js/main.js"></script>
    {% mermaid_js %}
</body>
</html>
